@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

:root{
   --primary-color: rgb(238, 119, 22);
   --text-color: #333;

}

.title{
  float: left;
  color: var(--text-color);
}

.btnAddEmployee{
  float: right;
  margin-left: 20px;
  font-size: 22px;
  :hover{
    color: var(--primary-color);
    cursor: pointer;
  }
}

.unactiveMultiDel {
  float: right;
  margin-left: 20px;
  font-size: 22px;
  opacity: 0.6;
  pointer-events: none;
  :hover{
    color: var(--primary-color);
    cursor: pointer;
  }
}
.activeMultiDel {
  float: right;
  margin-left: 20px;
  font-size: 22px;
  :hover {
      color: var(--primary-color);
      cursor: pointer;
  }
  opacity: 1;
  pointer-events: auto
}

.formSearchEmployee{
  float: right;

}

.modal {
  width: 50%;
}

.labelDiv{
  text-align: center;

}

.avatarLabel{
  width: 26px;
  height: 26px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 36px;
  text-align: center;
  svg {
      width: 13px;
      height: 27px;
      color: #fff;
  }
}
.avatarPreview {   
  width: 150px;
  height: 150px;
  margin: auto;
  border: dashed 2px var(--primary-color);
  border-radius: 50%;

}

.imageUpload {
  width: 146px;
  height: 146px;
  border-radius: 50%;
}


